* {
  font-family: "Montserrat", sans-serif;
}
.clear {
  clear: both;
}
body {
  background-color: #020d18;
  background-image: url(/images/background.png);
  background-repeat: repeat-x;
}
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 1203px;
}
#navbar .logo {
  display: flex;
  justify-content: left;
}
#navbar .logo .logoIco {
  margin-top: 16px;
}
#navbar div {
  margin-top: 22px;
  margin-left: -10px;
  display: flex;
  justify-content: center;
}
#navbar div a {
  font-size: 14px;
  margin-left: 24px;
  text-decoration: none;
  color: white;
}
#navbar .logo h3 a {
  color: #fe0f20;
}
#navbar .logo h3 a span {
  margin-left: -13px;
}
#navbar .logo .page a:hover {
  color: #fe0f20;
}
#navbar div h4 {
  margin-left: 90px;
}
#navbar div h4 a {
  margin-left: 36px;
}
#navbar .searchBox input {
  margin-left: 25px;
  width: 170px;
  border: none;
  color: #fe0f20;
  border-bottom: 1px solid #fe0f20;
  outline: none;
  background: none;
}
::placeholder {
  color: #fe0f20;
}
#navbar .searchBox button {
  border: none;
  background: none;
  margin-left: -24px;
  color: #fe0f20;
}
#navbar .logo .searchBox .signUp {
  border: 1px solid #fe0f20;
  background: #fe0f20;
  color: white;
  border-radius: 100px;
  padding: 12px 30px;
}
#navbar .logo .searchBox .signUp:hover {
  box-shadow: 0px 0px 20px 0px #fe0f20;
}
#navbar .logo .searchBox .login:hover {
  color: #fe0f20;
}
#firstMovies {
  margin: 0 auto;
  width: 1203px;
}
#firstMovies .moviesPreview {
  display: flex;
  margin-top: 191px;
  justify-content: space-between;
  color: white;
}
#firstMovies .moviesPreview .moviesCategori {
  color: white;
  display: block;
}
#firstMovies .moviesPreview .moviesCategori .moviesDate {
  color: white;
  display: flex;
  list-style-type: none;
  margin-top: 30px;
  margin-left: -15px;
}
#firstMovies .moviesPreview .moviesCategori .moviesDate li {
  margin-right: 10px;
}
#firstMovies .moviesPreview .moviesCategori .moviesDate .date {
  border: 1px solid #f4b01e;
  background: #f4b01e;
  color: white;
  border-radius: 3px;
  padding: 0px 8px;
}
#firstMovies .moviesPreview .moviesCategori .moviesDate .action {
  border: 1px solid #37a3df;
  background: #37a3df;
  color: white;
  border-radius: 3px;
  padding: 0px 5px;
}
#firstMovies .moviesPreview .moviesCategori .moviesDate .adventure {
  border: 1px solid #df5f37;
  background: #df5f37;
  color: white;
  border-radius: 3px;
  padding: 0px 5px;
}
#firstMovies .moviesPreview .moviesCategori {
  margin-left: -5px;
  margin-top: 22px;
}
#firstMovies .moviesPreview .moviesCategori h1 {
  font-size: 60px;
  margin-left: 20px;
  margin-top: -5px;
}
#firstMovies .moviesPreview .moviesCategori p {
  margin-left: 30px;
  width: 500px;
  margin-top: -28px;
  line-height: 1.5;
  font-size: 14px;
  opacity: 0.7;
}
#firstMovies .moviesPreview .moviesCategori .movieButton {
  margin-top: 60px;
  margin-left: 20px;
}
#firstMovies .moviesPreview .moviesCategori .movieButton a {
  color: white;
  text-decoration: none;
}
#firstMovies .moviesPreview .moviesCategori .movieButton .addlist {
  margin-left: 22px;
}
#firstMovies .moviesPreview .moviesCategori a span {
  border: 1px solid #000;
  background: #000;
  padding: 13px 20px;
  border-radius: 100px;
  font-size: 12px;
  box-shadow: 0px 3px 80px 0px #000;
}
#firstMovies .moviesPreview .moviesCategori a span:hover {
  border: 1px solid #fe0f20;
  background: #fe0f20;
  padding: 13px 20px;
  border-radius: 100px;
  font-size: 12px;
  box-shadow: 0px 0px 20px 1px #fe0f20;
}
#firstMovies .moviesPreview .moviesPoster {
  margin-top: -58px;
  margin-right: 135px;
}
#moviesList {
  margin: 0 auto;
  width: 1600px;
  display: block;
  margin-top: 34px;
}
#moviesList h3 {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 215px;
  color: white;
  opacity: 0.7;
}
#moviesList .movieImage {
  margin-top: 24px;
  margin-left: 13px;
  display: flex;
  border-radius: 100%;
  background-image: url(/images/background2.png);
  box-shadow: 0px -50px 200px 10px #020d18;
  background-color: #020d18;
}
#moviesList .movieImage .backImage {
  margin-top: 35px;
}
#moviesList .movieImage .frontImage {
  display: flex;
  justify-content: space-between;
}
#moviesList .movieImage .frontImage a {
  margin-right: 16px;
}
#moviesList .movieImage .arrow {
  margin-top: 90px;
  color: #565656;
  margin-right: 35px;
  margin-left: 35px;
}
#moviesList .movieImage .arrow i {
  font-size: 22px;
}
#backPhoto {
  background-image: url(/images/background3.png);
  height: 555px;
}
#moviePreview {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  margin-top: 20px;
}
#moviePreview .movieImg {
  margin-top: 65px;
  margin-left: 20px;
}
#moviePreview .moviesCategori {
  margin-top: 100px;
  margin-left: 38px;
}
#moviePreview .moviesCategori .moviesDate {
  display: flex;
}
#moviePreview .moviesCategori p {
  color: white;
  line-height: 1.5;
  font-size: 15px;
  opacity: 0.7;
  text-align: right;
  letter-spacing: 0.1;
}
#moviePreview .moviesCategori ul {
  margin-top: 15px;
  margin-left: 170px;
}
#moviePreview .moviesCategori h1 {
  margin-left: 55px;
}
#moviePreview .moviesCategori .movieButton {
  margin-top: 60px;
  margin-left: 160px;
}
#moviesPage {
  margin: 0 auto;
  width: 1200px;
}
#moviesPage .ads {
  margin: 0 auto;
  width: 1000px;
  margin-top: 50px;
}
#moviesPage .choiceHeader h3 {
  color: #b0b0b0;
  font-size: 14px;
  margin-bottom: 40px;
  margin-top: 40px;
}
#moviesPage .choiceHeader .moviesCategory {
  margin: 0 auto;
  width: 1100px;
}
#moviesPage .choiceHeader .moviesCategory .arrow {
  text-decoration: none;
  color: #484a4c;
}
#moviesPage .choiceHeader .moviesCategory .movieChoice {
  font-size: 12px;
  border: 1px solid #15202b;
  background-color: #15202b;
  border-radius: 15px;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  margin-right: 30px;
}
#moviesPage .choiceHeader .moviesCategory .movieChoice:hover {
  border-color: #fe0f20;
  background-color: #fe0f20;
}
#moviesPage .movies {
  margin-top: 55px;
  display: flex;
}
#moviesPage .movies .moviesPhoto {
  display: block;
  margin-right: 15px;
}
#moviesPage .movies .moviesPhoto a {
  text-decoration: none;
  color: white;
}
#moviesPage .movies .moviesPhoto .yearLike span {
  font-size: 13px;
  color: white;
  opacity: 0.5;
}
#moviesPage .movies .moviesPhoto .yearLike a {
  margin-top: 21px;
  font-size: 12px;
  color: #b0b0b0;
}
#moviesPage .movies .moviesPhoto .yearLike a i {
  font-size: 10px;
}
#moviesPage .movies .heart {
  font-size: 9px;
  margin-left: 80px;
  color: #4c4c4c;
  opacity: 0.6;
}
#moviesPage .movies .yearLike .heart:hover {
  opacity: 1;
  color: #fe0f20;
}
#moviesPage .movies .eye {
  font-size: 9px;
  margin-left: 18px;
  opacity: 0.6;
  color: #4c4c4c;
}
#moviesPage .movies .yearLike .eye:hover {
  color: #fe0f20;
  opacity: 1;
}
#moviesPage .movies .star {
  font-size: 9px;
  margin-left: 18px;
}
#moviesPage .movies .star i {
  color: #f4dd1e;
  opacity: 0.8;
}
#moviesPage .loadMore {
  margin: 0 auto;
  width: 200px;
  margin-top: 52px;
}
#moviesPage .loadMore a {
  border: 1px solid #15202b;
  background: #15202b;
  padding: 13px 20px;
  border-radius: 100px;
  font-size: 12px;
  box-shadow: 0px 3px 80px 0px #000;
  text-decoration: none;
  color: white;
}
#moviesPage .loadMore a:hover {
  border: 1px solid #fe0f20;
  background: #fe0f20;
  padding: 13px 20px;
  border-radius: 100px;
  font-size: 12px;
  box-shadow: 0px 0px 20px 1px #fe0f20;
}
#previewPage {
  background-image: url(/images/background4.png);
  background-repeat: repeat-x;
  height: 780px;
}
#previewPage .jurassicWorld {
  margin: 0 auto;
  width: 1200px;
  margin-top: 60px;
}
#previewPage .jurassicWorld .moviesCategori {
  position: absolute;
  margin-top: 180px;
}
#previewPage .jurassicWorld .moviesCategori p {
  color: white;
  font-size: 14px;
  width: 465px;
  height: 100px;
  opacity: 0.6;
  line-height: 1.6;
}
#previewPage .jurassicWorld .moviesCategori .moviesDate {
  display: flex;
  margin-left: -40px;
}
#previewPage .jurassicWorld .moviesCategori .playButton {
  margin-top: 1000px;
}
#backgroundImg {
  background-image: url(/images/background5.png);
  background-repeat: repeat-x;
  height: 555px;
}
#backgroundImg .moviesPreview {
  margin: 0 auto;
  width: 1300px;
  display: flex;
}
#backgroundImg .moviesPreview .moviesPoster {
  margin-top: 65px;
}
#backgroundImg .moviesPreview .moviesCategori .moviesDate {
  margin-top: 115px;
  display: flex;
  margin-left: 300px;
}
#backgroundImg .moviesPreview .moviesCategori h1 {
  margin-left: 400px;
  font-size: 36px;
  margin-top: -0px;
  color: white;
}
#backgroundImg .moviesPreview .moviesCategori p {
  text-align: right;
  margin-left: 95px;
  color: white;
  width: 450px;
  height: 110px;
  line-height: 1.5;
  opacity: 0.7;
  font-size: 14px;
}
#backgroundImg .moviesPreview .moviesCategori .movieButton {
  margin-left: 220px;
  margin-top: 35px;
}
#backgroundImg .moviesPreview .moviesCategori .movieButton .playButton {
  margin-left: 20px;
}
#hunger {
  margin: 0 auto;
  width: 1200px;
  margin-top: 50px;
}
#hunger .ads {
  margin: 0 auto;
  width: 1000px;
}
#hunger .pageSettings {
  margin-top: 80px;
  display: flex;
}
#hunger .pageSettings .page2 {
  color: white;
  width: 470px;
  height: 370px;
  margin-left: 38px;
  margin-top: 35px;
}
#hunger .pageSettings .page2 h1 {
  font-size: 36px;
}
#hunger .pageSettings .page2 p {
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.7;
}
#hunger .pageSettings .page2 .movieLink {
  opacity: 1;
}
#hunger .pageSettings .page2 .movieLink i {
  margin-left: 8px;
  font-size: 12px;
}
#hunger .pageSettings .page3 {
  border-left: 1px solid #4c4c4c;
  padding-left: 30px;
  margin-left: 40px;
}
#hunger .pageSettings .page3 a img {
  margin-top: 25px;
}
#hunger .pageSettings .page3 .photo1 {
  display: flex;
}
#hunger .pageSettings .page3 .photo1 span {
  color: white;
  font-size: 14.5px;
  margin-top: 30px;
  width: 190px;
  height: 40px;
  margin-left: 25px;
}
#hunger .pageSettings .page3 .photo1 span p {
  opacity: 0.3;
  font-size: 12px;
  margin-top: 5px;
}
#lastFilm {
  margin: 0 auto;
  width: 1150px;
  display: flex;
  margin-top: 82px;
}
#lastFilm div {
  margin-right: 28px;
}
#lastFilm div a {
  color: white;
  text-decoration: none;
  opacity: 1;
}
#lastFilm div .moviesTxt {
  position: absolute;
  border: 1px solid black;
  background-color: black;
  opacity: 0.7;
  margin-top: 330px;
  margin-left: -265px;
  width: 224px;
  height: 55px;
  padding: 7px 20px;
  text-align: left;
  font-size: 12px;
}
.loadMore {
  margin: 0 auto;
  width: 300px;
  margin-top: 55px;
}
#footer {
  background-color: #000b15;
  margin-top: 55px;
  color: white;
}
#footer .footerSettings {
  margin: 0 auto;
  width: 1150px;
  display: flex;
}
#footer .footerSettings .footerPage1 {
  color: #595959;
  margin-left: -20px;
}
#footer .footerSettings .footerPage1 h1 a {
  text-decoration: none;
  color: #595959;
  margin-top: 80px;
}
#footer .footerSettings .footerPage1 .logo a span {
  position: absolute;
  margin-top: 42px;
  margin-left: 29px;
  color: #595959;
  font-size: 26px;
}
#footer .footerSettings .footerPage1 h1 a img {
  color: #595959;
  width: 35px;
  height: 55px;
  margin-top: 30px;
}
#footer .footerSettings .footerPage1 p {
  width: 285px;
  height: 45px;
  color: #7e8081;
}
#footer .footerSettings .footerPage1 .stars {
  direction: rtl;
  text-align: left;
}
#footer .footerSettings .footerPage1 .stars a {
  text-decoration: none;
  color: #595959;
  border: 1px solid #212121;
  margin: 5px;
  padding: 5px;
  border-radius: 100%;
  background-color: #212121;
}
#footer .footerSettings .footerPage1 .stars a i:hover {
  color: #f1c40f;
}
#footer .footerSettings .footerPage1 .stars .stars1:hover ~ a {
  color: #f1c40f;
}
#footer .footerSettings .footerPage1 .stars .stars2:hover ~ a {
  color: #f1c40f;
}
#footer .footerSettings .footerPage1 .stars .stars3:hover ~ a {
  color: #f1c40f;
}
#footer .footerSettings .footerPage1 .stars .stars4:hover ~ a {
  color: #f1c40f;
}
#footer .footerSettings .footerPage1 .stars .stars5:hover ~ a {
  color: #f1c40f;
}
#footer .footerSettings .footerPage1 .icons {
  margin-top: 50px;
}
#footer .footerSettings .footerPage1 .icons a {
  text-decoration: none;
  color: #6d6d6d;
  margin: 5px;
}
#footer .footerSettings .footerPage2 {
  display: block;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 50px;
}
#footer .footerSettings .footerPage2 h1 {
  color: #a8a9a9;
  font-size: 14px;
  margin-left: 40px;
}
#footer .footerSettings .footerPage2 .genre {
  display: flex;
  line-height: 2;
  margin-top: -10px;
}
#footer .footerSettings .footerPage2 .genre .movieGenre2{
  margin-left: 30px;
}
#footer .footerSettings .footerPage2 ul a {
  display: block;
  text-decoration: none;
  color: white;
  opacity: 0.4;
  font-size: 14px;
}
